PORT=3000
BASE_URL=http://localhost:3000
IDP_ENTITY_ID=
TRUST_PROXY=0
SESSION_SECRET=change-me
FEISHU_CLIENT_ID=
FEISHU_CLIENT_SECRET=
FEISHU_SCOPE=im:message:readonly im:message im:message.group_msg im:message.group_msg:get_as_user im:message.send_as_user im:message:send_as_bot
FEISHU_CONSULT_SCOPE=contact:user.employee_id:readonly offline_access
FEISHU_PASSPORT_APP_ID=1
FEISHU_AUTO_SSO_DOMAIN=
FEISHU_CHAT_ID=oc_a94917721a99386d176f651cea0cd604
FEISHU_VERIFICATION_TOKEN=
FEISHU_ENCRYPT_KEY=
FEISHU_LONG_CONNECTION=0
SP_METADATA_PATH=
SP_METADATA_XML=
KEY_PATH=./data/keys/idp.key.pem
CERT_PATH=./data/keys/idp.cert.pem
IDP_PRIVATE_KEY_PEM=
IDP_CERT_PEM=
ALLOW_EPHEMERAL_CERT=0
DEBUG_SAML=0
DISABLE_SCHEMA_VALIDATION=0
LOG_MAX=200
